
<p>Today is {{now | date}}.</p>
<p>Today also is {{now | myDate}} in another format.</p>
<p>You can buy Jägermeister for around {{1800 | myCurrency}}</p>
<p>Jägermeister has more than {{1450 | convertCalories}}</p>




<form [formGroup]="filterForm"
      novalidate
>
  <div class="filter-input-chip-container">
    <mat-form-field>
      <input type="text"
             formControlName="user"
             matInput
             [matAutocomplete]="userAutocomplete"
             placeholder="User"
             (keyup.enter)="createChip('user', 'users')"
      >
      <mat-autocomplete autoActiveFirstOption
                        #userAutocomplete="matAutocomplete"
      >
        <mat-option (click)="createChip('user', 'users')"
                    *ngFor="let option of filterForm.get('user').value | autocomplete:{
                          normalize: true,
                          keys: ['name', 'nick'],
                          targets: users
                        }"
                    [value]="option.obj.name"
        >
          {{option.obj.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-chip-list>
      <mat-chip *ngFor="let name of filterForm.get('users').value">
        {{name}}
        <mat-icon class="mat-18"
                  color="warn"
                  (click)="removeChipFromTarget('users', name)"
        >
          clear
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</form>



<!--<p>User name is {{userID}} and id is {{userID | toUserName | async}}</p>-->
